# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
venv/
.venv/
env/

# Environment variables
.env
.env.postgres

# Local database-migration fixtures
.migration/

# Database
db.sqlite3

# Postman
.postman/
postman/

# IDEs
.vscode/
.idea/
